.container {
    width: auto;
    padding: 6px;
    flex: 1;
    overflow: auto;
    align-self: flex-start; 
  }

body {
  height: 100%;
  padding: 0;
}

.app {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}