.number-content {
    box-sizing: border-box;
    width: 100%;
    max-width: calc(100vw - 48px);
    border-radius: var(--mdui-shape-corner-extra-large);
    background-color: rgb(var(--mdui-color-primary-container));
    font-size: 28px;
    color : rgb(var(--mdui-color-on-primary-container));
    padding: 16px 24px;
    text-align: right;
    margin-bottom: 16px;
    overflow-x: scroll;
}

.input-container {
    box-sizing: border-box;
    width: 100%;    
    padding: 0 12px;
    justify-content: center;
    align-items: center;
}

.input-number-container {
    box-sizing: border-box;
    width: 100%;
    max-width: calc(100vw - 48px);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 80px 80px;
    place-items: center;
}

.input-number-button {
    font-size: 22px;
    height: 100%;
    width: 100%;
}

.input-confrim-button {
    font-size: 22px;
    grid-row: 3 / 5;
    grid-column: 4;
    height: 160px;
    width: 85%;
    text-align: center;
    writing-mode: vertical-lr;
    line-height: 20px; 
    letter-spacing: 5px;
    /* width: 60px; */
    /* border-radius: var(--mdui-shape-corner-extra-large); */
}

mdui-dialog.number-keyboard-dialog::part(panel) {
    /* box-sizing: border-box; */
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    max-width: 100vw;
    /* padding: 12px; */
    border-radius: var(--mdui-shape-corner-extra-large) var(--mdui-shape-corner-extra-large) 0 0;
}