.setting-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px
}

.setting-item-key {
    align-items: center;
}

.setting-item-value {
    width: 75%
}



.mdui-prose .choices-item {
    border: 1px solid rgb(var(--mdui-color-outline));
    padding: 0px;
    margin-bottom: 12px ;
}

mdui-list-item.choices-item::part(container) {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 6px;
    padding-bottom: 6px;
}


mdui-list-item::part(end-icon).end-icon {
  /* 同时匹配 part 和 class */
  color: #ff5722 !important;
}