.setting-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px
}

.setting-item-key {
    align-items: center;
}

.setting-item-value {
    width: 75%
}



.choices-item {
    border: 1px solid rgb(var(--mdui-color-outline));
    padding: 0px;
}

mdui-list-item.choices-item::part(container) {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 6px;
    padding-bottom: 6px;
}



.price-content {
    border-radius: var(--mdui-shape-corner-extra-large);
    background-color: rgb(var(--mdui-color-primary-container));
    font-size: 28px;
    color : rgb(var(--mdui-color-on-primary-container));
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 24px;
    padding-right: 24px;
    text-align: right;
    margin-bottom: 16px;
}

.price-input-container {
    /* display: flex; */
    justify-content: center;
    align-items: center;
}

.price-input {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-auto-rows: 70px; */
    /* gap: 8px */
    place-items: center;
    grid-template-rows: 80px 80px;

}

.price-num-button {
    font-size: 22px;
    height: 100%;
    width: 100%;
}

.price-big-button {
    font-size: 22px;
    grid-row: 3 / 5;
    grid-column: 4;
    height: 160px;
    width: 85%;
    text-align: center;
    writing-mode: vertical-lr;
    line-height: 20px; 
    letter-spacing: 5px;
    /* width: 60px; */
    /* border-radius: var(--mdui-shape-corner-extra-large); */
}

 mdui-dialog.price-input-dialog::part(panel) {
  position: fixed;
  left: 0;
  bottom: 0;
  min-width: 100vw;
  border-radius: var(--mdui-shape-corner-extra-large) var(--mdui-shape-corner-extra-large) 0 0;
}

mdui-list-item::part(end-icon).end-icon {
  /* 同时匹配 part 和 class */
  color: #ff5722 !important;
}